<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>displayProfile</servlet-name>
        <servlet-class>displayProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayFigure</servlet-name>
        <servlet-class>displayFigure</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>displayProfile</servlet-name>
        <url-pattern>/displayProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayFigure</servlet-name>
        <url-pattern>/displayFigure</url-pattern>
    </servlet-mapping>
</web-app>
